name: release
on:
  push:
    branches:
      - master
jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
      - name: Node.js
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12
      - name: Update npm
        run: |
          npm install -g npm
          npm --version
      - name: Install dependencies
        uses: bahmutov/npm-install@v1.4.3
        with:
          useLockFile: false
      - name: Release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
